@charset "utf-8";

/* The font face id for the text fonts for the text for the whole html. */

@font-face {
    font-family: Champagne;
    src: url('cac_champagne.woff') format('woff'), url('cac_champagne.ttf') format('tff');
    font-family: dobkin;
    src: url('DobkinPlain.woff') format('woff'), url('DobkinPlain.ttf') format('tff');
}

/* New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Austin Inmon
   Date: 10.26.18  

   Filename: pcg_paper.css
   Supporting Files:  
   */

/* The html rule is for the whole page.  */

html {
    background-color: rgb(193, 181, 161);


}
/* the body element is for the body of the page and it has the font family for the text and has a background color. */
body {
    background-color: rgb(193, 181, 161);
    font-family: 'Libre Franklin',
        sans-serif;
}
/*  the rule is for the body and its the margins and the widths for the webpage.  */
body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-width: 640px;
    width: 95%;
}
/*  the rule is for the img that is in the header that is inside of the body and it has a relative position and a width of hundred percent. */
body>header>img {
    position: relative;
    display: block;
    width: 100%;

}
/* the rule is for the list items thats in the unordered list that is in the nav and has a class of horizontal. The display is block.  */
nav.horizontal ul li {
    background-color: rgb(96, 87, 70);
    display: block;
    font-size: 15px;
    float: left;
    line-height: 100px;
    height: 33px;
    width: 115px;
}
/*  The rule is for the anchor tags thats in the nav and has a class of horizontal.  */
nav.horizontal a {
    display: block;
    text-align: center;
    text-decoration: none;
}
/* The rule is for the anchor links and the color is whitesmoke.  */
nav.horizontal a:link,
nav.horizontal:visited {
    color: whitesmoke;
}
/* The rule is for the anchor links and when the cursor is hovered over the links, the text change to the color black.  */
nav.horizontal a:hover,
nav.horizontal:active {
    background-color: black;
}
/* The rule is for the first list item and it has a margin to the left of 2.  */
nav.horizontal li:first-child {
    margin-left: 2;
}
/* The rule is for the last list item in the nav and has a class of horizontal and has a margin of 2 to the right.  */
nav.horizontal li:last-child {
    margin-right: 2;
}

/* .topnavigation {
    display: grid;
    grid-template-columns: .6fr .6fr .6fr .6fr .6fr .6fr .6fr .6fr;
    padding-bottom: 100px;
}

nav.topnavnavigation li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav.topnavnavigation {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: white;

}

nav.topnavigation li {
    float: left;
}

nav.topnavigation a:visited,
nav.topnavigation a:link {
    color: black;
}

nav.topnavigation a:hover,
nav.topnavigation a:active {
    background-color: rgb(166, 151, 106);
} */



/* the rule is for the secodary headings and has a txt shadow of grey and the color is blue.  */
#rightcol>nav>h2 {
    color: rgb(34, 43, 66);
    text-shadow: 2px 2.5px 4px gray;
}
/* The rule is for the id tag of rightcol and the background color is tan.  */
#rightcol {
    background-color: rgb(193, 181, 161);
}
/* The rule is for the anchor tags that are n the unordered list and in the id tag rightcol. When the inks are hovered by the cursor, the text turns black.  */
#rightcol>nav>ul a:hover {
    color: black;
    font-size: 1.25em;
    text-decoration: none;

}
/* the rule is for the id tag rightcol and in the section and that is in the body element.  */
body>section#rightcol {
    width: 25%;
    float: right;
    margin-left: 20%;
}
/* For the list items that are in the unoredered list that is in the nav.  */
nav ul li {
    list-style-type: none;
}
/* The rule is for the anchor tags that are in the list items that is in th unoredered list that is in the nav. There are tranformations of .25 seconds.  */
nav ul li a {
    color: whitesmoke;
    -webkit-transition: font-size .25s, ease-out .25s;
    transition: font-size .25s, ease-out .25s;
    line-height: 2.2em;
    text-decoration: none;
}
/* The article that has a class of leftcol and the padding is 25px and the color of the text is black.  */
article.leftcol {
    color: black;
    padding: 25px;
}